/* reset */
* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a {
  font-size: 18px;
}

/* total */
.total {
  border: 1px solid black;
  border-radius: 30px;
  width: 800px;
  margin: 100px auto;
}

/* profile */
.profile {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 20px;
  border-bottom: 1px solid black;
}
.profile img {
  width: 200px;
}
.profile_txt {
  display: flex;
  align-items: center;
}
/* skill */
.skill {
  margin: 0 100px 20px;
  border-bottom: 1px solid black;
}
.skill p {
  margin-bottom: 10px;
}
.skill_title {
  font-weight: bold;
}
/* hard */
.hard {
  margin-bottom: 30px;
}
.hard_skill_img {
  display: flex;
  justify-content: space-between;
}
.hard_skill_img img {
  width: 100px;
}
/* soft */
.soft_skill_img {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.soft_skill_img img {
  width: 100px;
}

/* project */
.project {
  margin: 0 100px 50px;
}
.project_title {
  font-weight: bold;
}
.project p,
.project_file {
  margin-bottom: 15px;
}
.project a {
  color: #cbcbcb;
}
.project a:hover {
  color: black;
}
.project_img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  overflow: scroll;
  overflow-y: hidden;
  /* -ms-overflow-style: none; 인터넷 익스플로러 */
  /* scrollbar-width: none; 파이어폭스 */
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.project_img::-webkit-scrollbar {
  height: 10px;
  color: #cbcbcb;
}
.project_img::-webkit-scrollbar-track {
  background-color: white;
}
.project_img::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
}
.project_img::-webkit-scrollbar-button {
  display: none;
}
/* 코너에 라운드 효과 */
.project_img::-webkit-scrollbar-track,
.project_img::-webkit-scrollbar-thumb {
  border-radius: 30px;
}
/* hover 효과 */
.project_img::-webkit-scrollbar-thumb:hover {
  background-color: black;
  transition: all 0.2s; /* 작동 안 됨 */
}

.project_img img {
  margin-right: 10px;
  border: 1px solid black;
  width: 300px;
}
.project_img img:last-child {
  margin-right: 0;
}

/* top_btn css */
.top_btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 15px;
}
